<!-- Page Title -->
<h1>{{station.name?.en}}</h1>
<hr />

<!-- Date Range Selector -->
<div class="date-range-picker">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" [value]="defaultStartDate" #dateRangeStart>
      <input matEndDate placeholder="End date" [value]="defaultEndDate" #dateRangeEnd (dateChange)="setDateRange(dateRangeStart, dateRangeEnd)">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>

<!-- Table of Records -->
<table mat-table [dataSource]="weatherData" *ngIf="weatherData.length > 0" class="w-100">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let record">{{record.date}}</td>
  </ng-container>
  <ng-container matColumnDef="tavg">
    <th mat-header-cell *matHeaderCellDef>TAVG</th>
    <td mat-cell *matCellDef="let record">{{!!record.tavg ? record.tavg + ' °C' : '-'}}</td>
  </ng-container>
  <ng-container matColumnDef="tmin">
    <th mat-header-cell *matHeaderCellDef>TMIN</th>
    <td mat-cell *matCellDef="let record">{{!!record.tmin ? record.tmin + ' °C' : '-'}}</td>
  </ng-container>
  <ng-container matColumnDef="tmax">
    <th mat-header-cell *matHeaderCellDef>TMAX</th>
    <td mat-cell *matCellDef="let record">{{!!record.tmax ? record.tmax + ' °C' : '-'}}</td>
  </ng-container>
  <ng-container matColumnDef="prcp">
    <th mat-header-cell *matHeaderCellDef>PRCP</th>
    <td mat-cell *matCellDef="let record">{{!!record.prcp ? record.prcp + ' mm' : '-'}}</td>
  </ng-container>
  <ng-container matColumnDef="snow">
    <th mat-header-cell *matHeaderCellDef>SNOW</th>
    <td mat-cell *matCellDef="let record">{{!!record.snow ? record.snow + ' mm' : '-'}}</td>
  </ng-container>
  <ng-container matColumnDef="wdir">
    <th mat-header-cell *matHeaderCellDef>WDIR</th>
    <td mat-cell *matCellDef="let record">{{!!record.wdir ? record.wdir + '°' : '-'}}</td>
  </ng-container>
  <ng-container matColumnDef="wspd">
    <th mat-header-cell *matHeaderCellDef>WSPD</th>
    <td mat-cell *matCellDef="let record">{{!!record.wspd ? record.wspd + ' km/h' : '-'}}</td>
  </ng-container>
  <ng-container matColumnDef="wpgt">
    <th mat-header-cell *matHeaderCellDef>WPGT</th>
    <td mat-cell *matCellDef="let record">{{!!record.wpgt ? record.wpgt + ' km/h' : '-'}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>